html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/assets/fonts/FiraCode-Medium.woff2') format('woff2');
}

body {
    font-family: 'Fira Code', monospace;
    background-color: blue;
}
#main-nav {
    background: linear-gradient(to bottom, white, white, transparent);
    }
        .nav-link {
            color: #ffffff !important;
            font-size: 15px !important;
                font-weight: bold;
        }
    
        .navbar-brand {
            color: #ffffff !important;
        }
.nav-link {
    margin: 20px;
    font-size: 20px;
    color: black !important;
}

section {
    height: 100vh;
}

#home {
    background: url('../assets/images/portfolio-bg.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


.custom-col {
    margin-top: 30%;
}

p {
    color: white;
}

.logo-img {
    height: 60px;
    padding-left: 30px;
    animation: rotateAnimation 2s linear infinite;
    transform-origin: 70% 50% !important;
    filter: none !important;
    background-color: transparent !important;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.logo-img:hover {
    animation-play-state: paused;
}
.lead {
    color: grey !important;
        font-size: small !important;
        padding-top: 40px;
        padding-bottom: 40px;
}

img {
    filter: grayscale(1);
}

.img-hero {
    height: auto;
}

.spacing {
    margin-top: 10%;
}

.card-text {
    color: black;
}

.card-icon {
    font-size: 3rem;
}

.block {
    height: .3rem;
    width: 6rem;
    background-color: black;
    margin-right: auto;
    margin-bottom: auto;
    margin-bottom: 2rem;
    opacity: 0.5;
}
.list-inline-item a:hover i {
    transform: scale(0.9);
}