<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title>Login Page</title>

    <link rel="stylesheet" href="/styles/auth_page_styles.css">

</head>

<body>
    <div class="container">
        <h1 class="title_text text-dark">Welcome to Dev Learning Platform</h1>
        <div class="form-container">
            <h2 class="mb-4">Login</h2>
            <form action="" method="post">
                <div class="mb-3 text-left">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" id="email" class="form-control" name="email" value="" />
                </div>
                <div class="mb-3 text-left">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" name="password" value="" />
                </div>
                <div class="mt-4">
                    <button class="btn btn-info btn-block mb-3">Login</button>
                </div>
                <div class="bottom_btns">
                    <a class="text-dark text-decoration-underline" href="">Forget Password?</a>
                    <a class="text-dark text-decoration-underline" href="/register">Sign Up</a>
                </div>
            </form>
        </div>
        </div>
</body>
</html>