<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignement CV Zubair Ali</title>
    <link rel="stylesheet" href="/styles/cvStyles.css">
</head>

<body>

    <div class="main_div_style">
        <div class="header_div_styles">
            <img class="profile_img_styles" src="./assets/images/zubair.jpeg" alt="profile_img">
            <div class="header_text_style">
                <h1 style="font-size: 50px;">Zubair Ali</h1>
                <p style="font-size: 20px;">Web Developer</p>
            </div>
        </div>
        <div class="desc_div_styles">
            <div class="contact_div_style">
                <h1> Contact:</h1>
                <div class="contact_info_div_style">
                    <h3> Phone:</h3>
                    <p> +92-318-4595649</p>
                </div>
                <div class="contact_info_div_style">
                    <h3> Email:</h3>
                    <p> sp21-bcs-076@cuilahore.edu.pk</p>
                </div>
                <div class="contact_info_div_style">
                    <h3> Github:</h3>
                    <a style="color: white; margin-left: 10px;" href="https://github.com/zubairali001">
                        https://github.com/zubairali001</a>
                </div>
            </div>
            <div class="info_div_style">
                <h1>
                    Summary:
                </h1>
                <p>
                    Enthusiastic and detail-oriented Web Developer with a passion for creating responsive and
                    user-friendly websites.
                    Proficient in front-end and back-end technologies, I bring a strong foundation in HTML, CSS,
                    JavaScript, and various web
                    development frameworks. With a knack for problem-solving and a commitment to delivering high-quality
                    code, I am
                    dedicated to crafting engaging online experiences that meet both user and business needs. As a
                    highly adaptable
                    developer, I thrive in collaborative environments and continuously seek to stay up-to-date with
                    emerging trends in web
                    development. Looking for opportunities to contribute my skills and expertise to innovative web
                    projects.
                </p>
                <h1>Education:</h1>
                <ul>
                    <li>
                        <h3>Intermediate (2018 - 2020)</h3>
                        <p>Punjab Group of Colleges, Lahore</p>
                    </li>
                    <li>
                        <h3>BSCS (2021 - 2025)</h3>
                        <p>Comsats University Islamabad, Lahore</p>
                    </li>
                </ul>
                <h1>Experience:</h1>
                <ul>
                    <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nihil optio repellat harum
                            maiores reiciendis
                            obcaecati. Molestias magnam, velit minima quas rem, quod maiores mollitia odio esse unde ut
                            tempora!</p>
                    </li>
                    <li>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quas nobis! Quis doloribus fuga
                            mollitia recusandae
                            odit autem neque, reiciendis animi maxime beatae possimus assumenda laborum! Est iste maxime
                            repudiandae!</p>
                    </li>
                </ul>
                <h1>Skill:</h1>
                <ul>
                    <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nihil optio repellat harum
                            maiores
                            reiciendis obcaecati. Molestias magnam, velit minima quas rem, quod maiores mollitia odio
                            esse unde ut
                            tempora!</p>
                    </li>
                    <li>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quas nobis! Quis doloribus fuga
                            mollitia
                            recusandae odit autem neque, reiciendis animi maxime beatae possimus assumenda laborum! Est
                            iste maxime
                            repudiandae!</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>